body, html{
	height: 100%;
	margin: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-flow: column;
}
header{
	width: 100%;
	background-color: #2D2A21;
	box-shadow: 0 0 10px 5px #2D2A21;
	color: #89FF89;
	position: relative;
	z-index: 10;
}
header h1{
	margin: 0;
	font-size: 48px;
	display: inline-block;
	padding: 20px;
	font-weight: 100;
}
#partsWrapper{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	display: none;
}
#main{
	flex: 1;
}
.part{
	display: inline-block;
	max-width: 10%;
	cursor: pointer;
	margin: 40px;
}
.part img{
	width: 100%;
}
.partLink{
	color: inherit;
	text-decoration: inherit;
}
#mainImg{
	width: 10%;
	margin: 10px;
	margin-top: 20px;
}
.content{
	width: 100%;
	border: none;
	flex: 1;
}
.text{
	text-align: left;
	padding: 10px;
	font-size: 24px;
	width: 60%;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	background-color: lightgray;
	box-shadow: 0 0 8px lightgray;
	line-height: 1.25;
}
.text p{
	margin: 0;
}
.text br{
	margin: 0 0 15px;
}
.slideshow{
	width: 30%;
	display: inline-block;
	box-shadow: 0 0 10px black;
	float: right;
}
.slide{
	width: 100%;
}
.contentBody{
	display:block;
	text-align: left;
	padding: 20px;
}
a{
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
}
.youtube{
	min-height: 315px;
	min-width: 600px;
	height: 30%;
	margin-top: 20px;
	box-shadow: 0 0 10px 3px #CC181E;
	border-radius: 5px;
}
/*The following code is from
https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/
by Chris Coyier*/
.part { transition: all .2s ease-in-out; }
.part:hover { transform: scale(1.1); }


/*The following code is from
https://codepen.io/nohoid/pen/kIfto
by Milan Nohejl*/
.rainbow { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}